@model IEnumerable<EcoCyan.Models.Usuarios>

@{
    ViewData["Title"] = "Usuários";
}

<h1>@ViewData["Title"]</h1>

<h2>Usuários Cadastrados</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar Novo Usuário</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID Usuário</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Senha</th>
            <th>Tipo de Usuário</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdUser</td>
                <td>@item.NomeUser</td>
                <td>@item.EmailUser</td>
                <td>@item.SenhaUser</td>
                <td>@item.TipoUser</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdUser" class="btn btn-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdUser" class="btn btn-info">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.IdUser" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
