@model IEnumerable<EcoCyan.Models.Usuarios>

@{
    ViewData["Title"] = "Usuários";
}

<H1>@ViewData["Title"]</H1>


<h2>Usuários Cadastrados</h2>

<p>
    <a asp-action="Create">Cadastrar Novo Usuário</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID Usuário</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Senha</th>
            <th>Tipo de Uusário</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdUser</td>
                <td>@item.NomeUser</td>
                <td>@item.EmailUser</td>
                <td>@item.SenhaUser</td>
                <td>@item.TipoUser</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdUser">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdUser">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdUser">Excluir</a>
                </td>
            </tr>
        }
</table>



