@model IEnumerable<EcoCyan.Models.Reciclagem>

@{
    ViewData["Title"] = "Registro de Reciclagens";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar novo registro</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID Reciclagem</th>
            <th>Data Reciclagem</th>
            <th>Quantidade Reciclada</th>
            <th>Usuário</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdReciclagem</td>
                <td>@item.DataReciclagem</td>
                <td>@item.QuantidadeReciclada</td>
                <td>@item.User.NomeUser</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdReciclagem" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdReciclagem" class="btn btn-info">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdReciclagem" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
