@model EcoCyan.Models.EntregaLixo

@{
    ViewData["Title"] = "Detalhes da Entrega de Lixo";
}

<div class="container mt-5">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h4 class="card-title">Detalhes da Entrega de Lixo</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">ID Entrega</dt>
                <dd class="col-sm-9">@Model.IdEntregaLixo</dd>

                <dt class="col-sm-3">Data de Entrega</dt>
                <dd class="col-sm-9">@Model.DataEntrega.</dd>

                <dt class="col-sm-3">Lixo Coletado (ID)</dt>
                <dd class="col-sm-9">@Model.lixoColetado.IdLixoColetado</dd>

                <dt class="col-sm-3">Usuário Responsável</dt>
                <dd class="col-sm-9">@Model.User.NomeUser</dd>
            </dl>

            <div class="text-center mt-4">
                <a asp-action="Edit" asp-route-id="@Model.IdEntregaLixo" class="btn btn-info px-4">Editar</a>
                <a asp-action="Index" class="btn btn-secondary px-4">Voltar</a>
            </div>
        </div>
    </div>
</div>
