@model EcoCyan.Models.LixoColetado

@{
    ViewData["Title"] = "Detalhes do Lixo Coletado";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Lixo Coletado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="col-sm-2">ID Lixo</dt>
        <dd class="col-sm-2">@Model.IdLixoColetado</dd>
        <dt class="col-sm-2">Tipo de Lixo</dt>
        <dd class="col-sm-2">@Model.TipoLixo</dd>
        <dt class="col-sm-2">Quantidade de Lixo</dt>
        <dd class="col-sm-2">@Model.QuantidadeLixo</dd>
        <dt class="col-sm-2">Local de Coleta</dt>
        <dd class="col-sm-2">@Model.LocalColeta</dd>
        <dt class="col-sm-2">Usuário</dt>
        <dd class="col-sm-2">@Model.User.NomeUser</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdLixoColetado">Editar</a> |
     <a asp-action="Index">Voltar</a>
</div>



