@model EcoCyan.Models.LixoColetado

@{
    ViewData["Title"] = "Detalhes do Lixo Coletado";
}

<div class="container mt-5">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h4>Lixo Coletado</h4>
            <hr />
            <div class="mb-4">
                <dl class="row">
                    <dt class="col-sm-3">ID Lixo</dt>
                    <dd class="col-sm-9">@Model.IdLixoColetado</dd>
                    <dt class="col-sm-3">Tipo de Lixo</dt>
                    <dd class="col-sm-9">@Model.TipoLixo</dd>
                    <dt class="col-sm-3">Quantidade de Lixo</dt>
                    <dd class="col-sm-9">@Model.QuantidadeLixo</dd>
                    <dt class="col-sm-3">Local de Coleta</dt>
                    <dd class="col-sm-9">@Model.LocalColeta</dd>
                    <dt class="col-sm-3">Usuário</dt>
                    <dd class="col-sm-9">@Model.User.NomeUser</dd>
                </dl>
            </div>
            <div class="text-center">
                <a asp-action="Edit" asp-route-id="@Model.IdLixoColetado" class="btn btn-primary">Editar</a>
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
    </div>
</div>
