@model IEnumerable<EcoCyan.Models.LixoColetado>

@{
    ViewData["Title"] = "Lixos Coletados";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Lixo Coletado</a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID Lixo Coletado</th>
                <th>Tipo de Lixo</th>
                <th>Quantidade</th>
                <th>Local de Coleta</th>
                <th>Usuário</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdLixoColetado</td>
                    <td>@item.TipoLixo</td>
                    <td>@item.QuantidadeLixo</td>
                    <td>@item.LocalColeta</td>
                    <td>@item.User.NomeUser</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.IdLixoColetado })">Editar</a>
                            <a class="btn btn-secondary" href="@Url.Action("Details", new { id = item.IdLixoColetado })">Detalhes</a>
                            <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.IdLixoColetado })">Apagar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
